<?xml version="1.0" encoding="UTF-8"?>

<beans>
    <bean id="javaBean" class="com.ek.utils.reflection.ioc.MyJavaBean">
        <property name="userName">
            <value>阿蜜果</value>
        </property>
        <property name="password">
            <value>12345678</value>
        </property>
    </bean>
</beans>